
.empresas-section {
  padding: 8rem 2rem;
  background: linear-gradient(180deg, #f4f4f4, #ffffff);
  text-align: center;
}

.empresas-container {
  max-width: 1300px;
  margin: 0 auto;
}

.empresas-container h2 {
  font-size: 2.8rem;
  color: #07203d;
  margin-bottom: 3rem;
}

.empresas-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.empresa-card {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s, box-shadow 0.3s;
}

.empresa-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.empresa-icon {
  font-size: 2.5rem;
  color: #467332;
  margin-bottom: 1rem;
}

.empresa-card h3 {
  font-size: 1.6rem;
  color: #07203d;
  margin-bottom: 1rem;
}

.empresa-card ul {
  list-style: none;
  padding: 0;
}

.empresa-card ul li {
  color: #333;
  padding: 0.2rem 0;
  font-size: 0.95rem;
  transition: color 0.3s;
}

.empresa-card ul li:hover {
  color: #467332;
}


@media (max-width: 1024px) {
  .empresas-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .empresas-container h2 {
    font-size: 1.8rem;
  }

  .empresa-card {
    padding: 1.5rem;
  }
}