
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #e0e0e0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  max-width: 1300px;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #07203d;
  font-weight: bold;
  font-size: 1.1rem;
  transition: all 0.3s;
}

.nav-links a:hover {
  color: #467332;
}

.language-switcher {
  display: flex;
  gap: 0.5rem;
}

.language-switcher button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s;
  padding: 0.3rem 0.5rem;
}

.language-switcher button:hover {
  color: #467332;
}

.language-switcher .active {
  color: #467332;
}

/* DESKTOP */
@media (min-width: 769px) {
  .mobile-menu-icon {
    display: none;
  }
}

/* MOBILE */
@media (max-width: 768px) {
  .navbar-container {
    padding: 0 1rem;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 0.6rem;
    z-index: 1001;
  }

  .nav-links.open {
    display: flex;
  }

  .mobile-menu-icon {
    display: block;
    cursor: pointer;
  }

  .language-switcher {
    display: flex;
    gap: 0.5rem;
    margin-right: 1rem;
  }
}