.footer {
    background-color: white;
    border-top: 2px solid #46733224;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
  }
  
  .logo-text-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .footer-logo img {
    height: 40px;
    width: auto;
  }
  
  .footer-content p {
    margin: 0;
    color: #07203d;
    font-size: 0.95rem;
  
  }
  
 
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .logo-text-container {
      flex-direction: column;
    }
  }